@charset "UTF-8";

.menu-logs {
	background-color: var(--inv-primary-color) !important;
}

.menu-logs:hover {
	background-color: var(--inv-primary-color-mouse) !important;
}

.menu-logs .ui-menuitem-text {
	color: var(--white) !important;
}

.menu-logs .ui-menuitem-icon {
	color: var(--white) !important;
}