@charset "UTF-8";

.menu-payments {
	background-color: var(--blue) !important;
}

.menu-payments:hover {
	background-color: var(--blue-mouse) !important;
}

.menu-payments .ui-menuitem-text {
	color: var(--white) !important;
}

.menu-payments .ui-menuitem-icon {
	color: var(--white) !important;
}