@charset "UTF-8";

.dialog-dashboard {
	min-height: 100vh !important;
	min-width: 100vh !important;
}

.dialog-dashboard .ui-dialog-content {
	min-width: 100vw !important;
	min-height: calc(100vh - 42px) !important;
}

.filters {
	padding: 10px;
}

.stock {
    flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	transition: 0.4s;
	cursor: pointer;
	background-color: var(--background-general-mouse);
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
}

.stock:hover {
	background-color: var(--blue);
	color: var(--text-mouse);
}

.stock .infos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.stock .infos .price {
	color: #80ef80;
	display: flex;
    text-align: right;
    justify-content: flex-end;
    margin-right: 5px;
}

.stock .infos .right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.button-buy {
	border-radius: 20px !important;
	font-size: 12px !important;
	padding: 0px !important;
	margin-right: 0px !important;
	background-color: var(--background-general) !important;
	border-color: var(--background-general) !important;
	transition: 0.4s !important;
}

.button-buy:hover {
	background-color: var(--background-general-mouse) !important;
	border-color: var(--background-general-mouse) !important;
}

.stock img {
	width: 56px;
	height: 56px;
	border-radius: 20px;
	margin-right: 10px;
}

.ui-dataview-row {
	height: calc(100vh - 156px);
	overflow-y: auto;
}

.ui-dataview-column {
	width: 19.9% !important;
	padding: 10px !important;
	float: left;
	box-sizing: border-box;
}
