@charset "UTF-8";

.menu-categories {
	background-color: var(--blue) !important;
}

.menu-categories:hover {
	background-color: var(--blue-mouse) !important;
}

.menu-categories .ui-menuitem-text {
	color: var(--white) !important;
}

.menu-categories .ui-menuitem-icon {
	color: var(--white) !important;
}