@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--white);
}

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

/* ------------------ INIT LEFT ------------------ */

.left {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 550px;
}

.container-login, .field, .container-divisor {
	min-width: 450px !important;
}

.messages {
	max-width: 450px !important;
}

.vertical-left {
	margin-bottom: 15px;
}

.links { 
	margin-top: 25px;
	margin-bottom: 15px;
}

.welcome-back {
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
}

.credentials {
	color: #888888;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button-login {
    background-color: var(--inv-primary-color) !important;
    border: none !important;
    color: white !important;
    padding: 5px 52px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    border-radius: 35px !important;
    font-family: 'Poppins', sans-serif !important;
    transition: 0.4s !important;
    cursor: pointer !important;
    margin: 0px !important; 
}

.button-login:hover {
	background-color: var(--inv-primary-color-mouse) !important;	
}

.container-divisor {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

.divisor {
	background-color: #E0E0E0;
	height: 1px;
	width: 100%;
}

.follow-me {
	width: 220px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

.version {
	font-size: 13px;
	color: gray;
	margin-top: 20px;
}

.atendimento {
	text-align: center;
	margin-top: 20px;
}

.atendimento a {
	text-align: center;
    text-decoration: none;
    margin-right: 10px;
    color: var(--text);
    font-size: 35px;
    transition: 0.4s;
}

.img-atendimento {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  height: 40px;
  width: 40px;
}

.img-atendimento:hover {
	color: var(--inv-primary-color) !important;
}

.atendimento a:hover {
	color: var(--inv-primary-color) !important;
}

@media (max-width: 600px) {
	.right {
		display: none;
	}
	
	.container-login, .field, .container-divisor {
		min-width: 350px !important;
	}
	
	.messages {
		max-width: 350px !important;
	}
	
}

/* ------------------ INIT RIGHT ------------------ */

.right {
	width: 100%;
	height: 100%;
	background-image:url('https://images.pexels.com/photos/6771740/pexels-photo-6771740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: cover;
	background-position: center
}