@charset "UTF-8";

.menu-users {
	background-color: var(--inv-primary-color) !important;
}

.menu-users:hover {
	background-color: var(--inv-primary-color-mouse) !important;
}

.menu-users .ui-menuitem-text {
	color: var(--white) !important;
}

.menu-users .ui-menuitem-icon {
	color: var(--white) !important;
}