@charset "UTF-8";

.menu-wallet {
	background-color: var(--blue) !important;
}

.menu-wallet:hover {
	background-color: var(--blue-mouse) !important;
}

.menu-wallet .ui-menuitem-text {
	color: var(--white) !important;
}

.menu-wallet .ui-menuitem-icon {
	color: var(--white) !important;
}

h2 {
	margin: 10px 0px;
}

.row-expense > * {
	color: red !important;	
}

.row-investment > * {
	color: green !important;	
}